.idea
.ipynb_checkpoints
temp*\.html
dist
target
/python/examples/compile_and_import_module/compiled_module.pyc
/.m2
/.cache

.ipynb_checkpoints
.settings
.project
.classpath
.flattened-pom.xml
java_project.properties
python_package.properties
java_project_for-release.txt
python_package_for-release.txt


/data_santub/*/*.parquet
data_santub/*/*/*.xlsx
